html {    
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
    height: 100%;
    background: rgb(0,68,147);
    background: linear-gradient(0deg, rgba(0,68,147,1) 31%, rgba(233,108,163,1) 100%);
}

.list {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

.list li {
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
}

.list li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 30px;
    width: 30%;
    align-items: center;
    margin-left: 10%;
    color: white;
    font-weight: bolder;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.profile p,h2 {
    margin-left: 30px;
}

.profile img {
    border-radius: 360px;
    max-width: 100%;
    
}

.cards img {
    width: 100px;

}

.center {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.cards li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 180px;
    align-items: center;
    text-align: center;
}

.itens {
    display: inline;
    text-decoration: none;
    padding: 50px;
    background-color: black;
    margin: 15px;
}

.icon {
    margin-left: 25px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aboutText > p {
    max-width: 40%;
}

.colorText {
    color: rgba(0,68,147,1);
    font-weight: bolder;
}

.colorLink {
    color: rgba(233,108,163,1) ;
    font-weight: bolder;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form input {
    height: 30px
}

.form input, textarea {
    margin-top: 20px;
    width: 50%;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
}

.form button {
        background: linear-gradient(0deg, rgba(0,68,147,1) 31%, rgba(233,108,163,1) 100%); 
        font-weight: bolder;
        color: white;
        border: none;
        cursor: pointer;
        width: 100px;
        height: 30px;
        transition: 2s;
        border-radius: 10px ;
        margin-top: 20px;
        border: 1px solid black;
}

.form button:hover {
    background: linear-gradient(0deg, rgba(0,68,147,1) 31%, rgba(233,108,163,1) 100%); 
        transform: scale(1.1);
        transition: 2s;
}

/* From cssbuttons.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    /* background: #b1dae7; */
    background: white;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-size: 18px;
    letter-spacing: 0.05em;
    /* color: #234567; */
    color: black
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* stroke: #234567; */
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    /* background: #b1dae7; */
    background-color: white;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }